

<header class="fixed-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">My English</a>
    <button *ngIf="!checkAuthorization()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" (click)="openMobileNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div ngbDropdown class="d-inline-block ml-auto" *ngIf="checkAuthorization()">
      <button class="btn btn-outline-secondary rounded-0" ngbDropdownToggle>
        <fa name="cog" size="lg"></fa>
      </button>
      <div class="rounded-0" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="dropdown-item"><fa name="user" size="lg"></fa> {{getUser().name}}</button>
        <button class="dropdown-item"><fa name="at" size="lg"></fa> {{getUser().email}}</button>
        <button *ngIf="getUser().role === 'Admin'" class="dropdown-item"><a class="nav-link p-0 text-dark" routerLink="/users"><fa name="users" size="lg"></fa> users</a></button>
        <button class="dropdown-item cursor-pointer" (click)="logout()"><fa name="sign-out" size="lg"></fa> logout</button>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarText" [ngClass]="{'show': showMobileNavbar}" *ngIf="!checkAuthorization()">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [href]="" (click)="login()"><fa name="sign-in" size="lg"></fa> Log In</a>
        </li>
        <li class="nav-item" *ngIf="!checkAuthorization()">
          <a class="nav-link" [href]="" (click)="registration()"><fa name="registered" size="lg"></fa> Sign Up</a>
        </li>
      </ul>
    </div>
  </nav>
</header>