// for placeholder style
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

%before-after {
  content: "";
  display: block;
}

%clearfix {
  &:after {
    @extend %before-after;
    clear: both;
  }
}

%inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  *display: inline;
  _height: 250px;
}


%remove-selection {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

%ellipsis {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
}