

  <form class="form" (ngSubmit)="onSubmit(); control.reset()" #control="ngForm">
      <h4>{{title}}</h4>
      <div class="form-group" *ngFor="let field of dataForm; let i = index;">

        <input *ngIf="field.type === 'checkbox'" [name]="field.name" type="checkbox" class="form-control d-inline-block mr-1" [(ngModel)]="field.text"/>

        <label *ngIf="field.label" [ngClass]="{'d-inline-block' : field.type === 'checkbox'}">{{field.placeholder}}</label>

        <input *ngIf="field.type === 'text'" [name]="field.name" class="form-control" type="text" [(ngModel)]="field.text" [placeholder]="field.placeholder" [required]="field.required" />

        <input *ngIf="field.type === 'email'" [name]="field.name" email="true" class="form-control" type="email" [(ngModel)]="field.text" [placeholder]="field.placeholder" [required]="field.required" />

        <input *ngIf="field.type === 'password'" [name]="field.name" class="form-control" type="password" [(ngModel)]="field.text" [placeholder]="field.placeholder" [required]="field.required" />

        <input *ngIf="field.type === 'confirmPassword'" [name]="field.name" class="form-control" type="password" [(ngModel)]="field.text" [placeholder]="field.placeholder" [required]="field.required" />

        <textarea *ngIf="field.type === 'textarea'" [name]="field.name" class="form-control" [(ngModel)]="field.text" [placeholder]="field.placeholder" [required]="field.required"></textarea>

      </div>
      <div *ngIf="buttons">
        <button *ngFor="let btn of buttons;" type="button" class="btn btn-outline-dark mr-1" (click)="btn.handler()"><fa name="{{btn.type}}" size="lg"></fa> {{btn.text}}</button>
      </div>
      <button [disabled]="validationCustom(control)" class="btn btn-primary" type="submit">Send</button>
  </form>
 